@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --Nutmeg: hsl(14, 45%, 36%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Eggshell);
  font-family: "Outfit", sans-serif;
  font-size: 9px;
  color: var(--Wenge-Brown);
}

img {
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

h1 {
  color: var(--Dark-Charcoal);
}

.nutmeg {
  color: var(--Nutmeg);
}

.young-serif {
  font-family: "Young Serif", serif;
  font-weight: lighter;
}

.recipe {
  display: flex;
  flex-direction: column;
  width: 375px;
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
}

.preparation {
  display: flex;
  flex-direction: column;
  background-color: var(--Rose-White);
  border-radius: 10px;
}
h4 {
  color: var(--Dark-Raspberry);
  margin-left: 13px;
  margin-bottom: -5px;
}
.prep-info li::marker {
  color: var(--Dark-Raspberry);
}
.prep-info {
  padding: 0;
  margin-left: 25px;
  line-height: 20px;
}

.ingredients li::marker {
  color: var(--Nutmeg);
}

.ingredients {
  margin-top: -5px;
  padding: 0;
  margin-left: 15px;
  line-height: 20px;
}

hr {
  width: 370px;
  opacity: 0.5;
  border: none;
  background-color: var(--Light-Grey);
  height: 1px;
  margin: 0;
}

.instruction li::marker {
  color: var(--Nutmeg);
  font-weight: bold;
}

.instruction {
  margin-top: -5px;
  padding: 0;
  margin-left: 15px;
  line-height: 20px;
}
.instruction li {
  padding-left: 6px;
}

.nutrition p {
  display: inline-block;
}

.nutrient {
  text-align: left;
  width: 50%;
}

.value {
  text-align: right;
  color: var(--Nutmeg);
  font-weight: bold;
}
